/*
    Document   : override
    Created on : <date>
    Author     : <author>
    Description:
        This is where any of your application specific styles should be included
*/
oj-module:not(.oj-complete) {
  visibility: hidden; 
}

oj-module {
  display: block; 
}

h5{
  font-size:20px
}

.review-date{
  float: right;
    bottom: 500px;
    right: 350px;
    position: relative;
}
.per-avrg-text{
  float: right;
    bottom: 300px;
    right: 160px;
    position: relative;
} 
